<div id="<%= dom_id movie %>">
  <p class="etiqueta-pelicula"><strong> TITULO</strong></p>
  <p class="texto"><%= movie.name %></p>

  <p class="etiqueta-pelicula"><strong>CLIENTE</strong></p>
  <p class="texto2"><%= movie.client.try(:name)%></p>

</div>
