
.Barra{
    margin-bottom:40px;
    background-color: #FFD966;
}

.card{
    margin: 12px;
    background-color: #0C134F;
     color:#F1F6F9;
}

.tarjetas{
    margin-top: 40px;
    border-radius: 9px;
}

.logo{
    width: 100px;
    height: auto;
    margin-left: 30px;
}

.links{
    margin-left: 1050px;
    margin-right: 30px;
    padding: 0px;
    margin-top: 12px;
}

.logo-barra{
    padding-bottom: 12px;
    padding-top: 10px;
}

.movie-barra{
    background-color: #293A80;
    text-decoration: none;
}

.cliente-barra{
    background-color: #537EC5;
    text-decoration: none;
}

.nav-link{
    color:aliceblue;
}

.peliculas-body{ 
    background-color: #FBF2D5;
}

.mostrar-peli{
    text-decoration: none;
    color: #F7D060;
}

.card-body{
    text-align: center;
}

.etiqueta-pelicula{
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.texto{
    font-size: 20px;
    margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 30px;
}

.texto2{
    font-size: 18px;
    margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 30px;
}

.nuevo{
    margin-bottom: 60px;
    margin-left: 1020px;
}

.nuevo2{
    text-decoration: none;
    color:#0C134F;
    font-size: 20px;
    font-weight: 600;
}